html, body {
  max-width: 100%;
  overflow-x: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
  background: transparent; /* مهم */
}

body {
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  color: var(--text, #171717);
}